*.swp
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
.ruby-gemset
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/config/database.yml
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*.dump
/public/uploads
.vagrant
.floo
.ruby-version
.flooignore
.idea
.DS_Store
*~
.env
.swp
