  <section class="container modelo_item">
    <article>
      <h1><%= @notice.title %></h1>
      <p><%= raw @notice.content %></p>
      <% if @notice.image.present? %>
        <%= image_tag @notice.image %>
      <% end %>
    </article>
  </section>
