<header>
  <!-- Slide -->
	<ul class="slider">
    <% cache @banners do %>
  		<% @banners.each do |banner| %>
        <% cache banner do %>
  			 <li> <%= image_tag banner.image.banner_site %></li>
        <% end %>
  		<% end %>
    <% end %>
  </ul>
</header>
