<section class="newsletter">
	<form class="container">
		<h3>Assine nossa newsletter</h3>	
		<p>E receba nossas recentes notícias e descontos exclusivos.</p>
		<input type="email" id="email" name="email" placeholder="Digite seu email"><a href="page-modelo.html" class="btn">Asssinar</a>
	</form>
</section>