<section class="produto">
	<div class="container">
		<%= image_tag "produto.png" %>
		<h1>Tracer Tag</h1>
		<p>Monitoramento de um jeito prático, inteligente e confiável.
			Os rastreadores TRACER TAG são feitos para você monitorar diversas situações – desde a rota feita por um pedestre até a trajetória de uma carga em um caminhão. Os dispositivos podem, inclusive, acompanhar bagagens em um avião.<p>
		<p>O TRACER TAG está pronto para acompanhar o que você desejar. Seja no chão ou a 10 mil metros de altura.</p>
		<a href="page-modelo.html" class="btn">Veja nossos modelos</a>
	</div>
</section>