<section class="produto">
	<div class="container">
		<% @products_main.each do |main| %>
			<%= image_tag main.image, width: '210', height: '420' %>
			<h1><%= main.name %></h1>
			<%= raw main.descrption %>
			<%= link_to 'Veja nossos modelos', modelos_path, class: 'btn' %>
		<% end %>
	</div>
</section>
