<section class="produto">
	<div class="container">

   <div xclass="grid-8-2">
    <% @products_main.each do |main| %>
      <%#= image_tag main.image, width: '210', height: '420' %>
      <h1><%= main.name %></h1>
      <%= raw main.descrption %>
      <% end %>
	<%= link_to 'Veja nossos modelos', modelos_path, class: 'btn' %>
   </div>
   <div class="grid-8-2">
    <% if @ad.present? %>
      <%= image_tag @ad.image, class: 'banner-right' %>
    <% end %>
   </div>

	</div>
</section>


