<section class="produto">
	<div class="container">
		<% @products_main.each do |main| %>
			<%= image_tag main.image, width: '210', height: '420' %>
			<h1><%= main.name %></h1>
			<%= raw main.descrption %>
			<a href="page-modelo.html" class="btn">Veja nossos modelos</a>
		<% end %>
	</div>
</section>
