<section class="container modelo_item">
    <h2>Notícias</h2>

    <% @articles.each do |article| %>
      <article>
        <h3><%= article.title %></h3>
        <%= link_to 'Leia mais', article_path(article), class: 'btn' %>
      </article>
    <% end %>
</section>
