<section class="container modelo_item">
    <article>
      <h2>Recominte</h2>

      <p>A Recominte inicou suas atividades em 1980 como uma empresa de representação aeronáutica e aeroespacial, representando fabricantes e distribuidores internacional de matérias-primas, peças, componentes ferramentas, bancadas de teste equipamentos e prestadoras de serviços de usinagem, revisão e reparo de componentes para a fabricação e manutenção de aeronaves civis e militares.</p>

      <p>Hoje, em São José dos Campos, com mais homologações e contando com as facilidades estratégicas da parceria com a Recominte Int'I LCC, na Florida - USA, o Grupo RECOMINTE aumenta a cada dia sua linha de distribuição.Torna-se, com isso, sempre mais apto a importar uma maior variedade de peças e produto aeronáuticos satisfazendo as nescessidades de seus clientes na fabricação e manutenção de suas aeronaves em toda a América Latina.</p>

    </article>
  </section>
