<section class="container modelo_item">
    <article>
      <h2>A EMPRESA</h2>

      <p>A marca TRACER TAG, nasceu em março de 2012, da sociedade entre o Engo. de Aeronáutica, Paulo Schiphorst e a empresa Recominte, pertencente a Jacques C. de Albuquerque, com o intuito de desenvolver rastreadores portáteis para solucionar o problema de bagagens e cargas perdidas no modal aéreo.</p>

 			<p>A Recominte inicou suas atividades em 1990 no Rio de Janeiro, como uma empresa de representação aeronáutica e aeroespacial, representando fabricantes e distribuidores internacionais de matérias-primas, peças, componentes ferramentas, equipamentos de apoio ao solo e prestadoras de serviços de revisão e reparo de componentes aeronáuticos.</p>

 			<p>Com oficina homologada pela ANAC em Jacareí, SP, diversas representações e distribuições e contando com as facilidades estratégicas da parceria com a Recominte Int'I LCC, na Florida - USA, o Grupo RECOMINTE está apto a satisfazer diversas nescessidades de seus clientes na fabricação e manutenção de aeronaves.</p>

 			<p>Hoje como empresa independente, a TRACER TAG Tecnologias de Geolocalização, Mobilidade e Logística, traz soluções inovadoras ao mercado de logística e segurança.</p>

    </article>
  </section>
