<section class="modelos">

	<div class="container">

		<h2>Modelos</h2>

		<ul class="modelos_lista">
			<li class="grid-1-3">
				<a href="page-modelo.html #cargo">
					<%= image_tag "modelo_cargo.png" %>
					<h3>Cargo</h3>
				</a>		
			</li>
		</ul>

	</div>

</section>
