.form {
	position: relative;
	background: #FFFFFF;
	margin: 10% auto 5%;
	padding: 7% 7%;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.form:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

h1 {
	margin-left: -2px;
}

label {
	font-size: 1.6em;
}

.form input, .form textarea {
	font-family: OpenSans, "Roboto", sans-serif;
	outline: 0;
	background: #eee;
	width: 100%;
	border: 0;
	padding: 2%;
	margin-top: 5px;
	margin-bottom: 5px;
	box-sizing: border-box;
	font-size: 1.4em;
	border: 1px solid #eee;
}

.form input:focus,
.form textarea:focus,
.label:active + input,
.label:active + textarea {
	outline: none;
	border: 1px solid tomato;
}

.form select:focus {
	outline: none;
}


button {
	border: 3px solid #ff0000;
    background: #fff;
    color: #ff0000;
    font-size: 1.4em;
    line-height: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: .1em;
    transition: all .5s ease;
	cursor: pointer;
	outline: 0;
	margin-top: 10px;
	width: 100%;
	padding: 20px 0;
}

button:hover {
    color: #fff;
    border-color: #ff0000;
    background: #ff0000;
}

@media only screen and (max-width: 820px) {

	.container {
		width: 99%;
	}

	.form {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 12%;
	}

}

@media only screen and (max-width: 765px) {

	.form {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 12%;
	}

}

@media only screen and (max-width: 640px) {

	.form {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 15%;
	}

	h1 {
		font-size: 3em;
	}

}

@media only screen and (max-width: 550px) {

	.form {
		margin-left: 2%;
		margin-right: 2%;
		margin-top: 20%;
	}

	h1 {
		font-size: 2.6em;
	}

}


@media only screen and (max-width: 500px) {

	.form {
		margin-top: 20%;
	}

	h1 {
		font-size: 2.6em;
	}

}

@media only screen and (max-width: 420px) {

	.form {
		margin-top: 25%;
	}

	h1 {
		font-size: 2.6em;
	}
}

@media only screen and (max-width: 360px) {

	.container {
		width: 90%;
	}

	.form {
		max-width: 100%;
		margin-top: 25%;
	}

	h1 {
		font-size: 2.6em;
	}
}


@media only screen and (max-width: 350px) {

	.form {
		margin-top: 25%;
	}

	h1 {
		font-size: 2.6em;
	}

}

@media only screen and (max-width: 320px) {

	.form {
		margin-top: 35%;
	}

	h1 {
		font-size: 2em;
	}

}
