
<% @products.each do |product| %>

  <section class="container modelo_item">
  	<div class="grid-6">
      <%= image_tag product.image %>
  	</div>
  	<div class="grid-9">
  		<h2><%= product.name %></h2>
  		<p><%= raw product.descrption %></p>
  	</div>
  </section>

<% end %>
